<html>
    <head>
        <title>Edinburgh Hacklab</title>
    </head>
    <body>
        <grid-container>
            <main class="two-thirds">
                <content />
            </main>
            <aside class="one-third">
                <hr class="l"/>
                <p>This post is from our old site - information in it may be out of date.</p>

                <ul>
                    <li><a href="/" class="no-visited">Go home</a></li>
                    <li><a href="/legacy" class="no-visited">Other pre-2026 posts</a></li>
                </ul>
            </aside>
        </grid-container>
    </body>
</html>
